.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #282828;
  p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #fff;
  }
  div {
    span {
      background-color: #fff;
      padding: 0 5px;
      font-weight: bold;
      border-radius: 50%;
    }
  }
}
